@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --light-red: hsl(0, 100%, 67%);
    --orangey-yellow: hsl(39, 100%, 56%);
    --green-teal: hsl(166, 100%, 37%);
    --cobalt-blue: hsl(234, 85%, 45%);

    --light-slate-blue: hsl(252, 100%, 67%);
    --light-royal-blue: hsl(241, 81%, 54%);
    --violet-blue: hsl(256, 72%, 46%, 0.5);
    --persian-blue: hsl(241, 72%, 46% 0);

    --white: hsl(0, 0%, 100%);
    --pale-blue: hsl(221, 100%, 96%);
    --light-lavender: hsl(241, 100%, 89%);
    --dark-gray-blue: hsl(224, 30%, 27%);

    --card-width: 300px;
}

html, body{
    padding: 0;
    margin: 0;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    font-family: "Hanken Grotesk", sans-serif;
    background-color: var(--pale-blue);
}

card{
    box-sizing: border-box;
    box-shadow: 0px 10px 20px rgba(235, 203, 203, 0.1);
    border-radius: 15px;
    height: calc(var(--card-width) * 1.6);
}

card.container-left{
    width: var(--card-width);
    color: var(--white);
    --mid-point: color-mix(in oklab, var(--light-slate-blue), var(--light-royal-blue));
    background: linear-gradient(
    to bottom, 
    var(--light-slate-blue), 
    var(--mid-point),
    var(--light-royal-blue)
  );
  padding: 15px;
  transform: translateX(20px);
  z-index: 1;
}

card.left{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 25px;
}

.heading-left{
    color: var(--light-lavender);
}

.score-circle{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 200px;
    height: 200px;
    border-radius: 100%;
    background-color: var(--light-royal-blue);
}

.left .score-num{
    font-size: 55px;
    font-weight: 800;
    margin-bottom: 0;
}

.left .score-total{
    font-size: 20px;
    margin-top: 0px;
    color: color-mix(in srgb, var(--white), transparent 78%);;
}

.left .score-desc {
    font-weight: 600;
    font-size: 30px;
    margin: 10px;
}

.left .score-stat{
    text-align: center;
}

card.container-right{
    width: calc(var(--card-width) + 100px);
    background-color: var(--white);
    padding: 15px 15px 15px 35px;
}

.right{
    display: flex;
    flex-direction: column;
}

.heading-right{
    font-weight: 700;
    font-size: 18px;
    margin-left: 15px;
}

module{
    padding: 5px;
    margin: 5px;
    display: flex;
    justify-content: space-between;
    box-shadow: 0px 5px 15px rgba(213, 213, 213, 0.5);
    border-radius: 15px;
}

module img{
    justify-self: center;
}
.module-text{
    display: flex;
    gap: 5px;
}

.module-score{
    color: grey;
    font-weight: 700;
}

.module-score .score-num {
    color: var(--dark-gray-blue);
}

module.reaction{
    color: var(--light-red);
    background-color: color-mix(in srgb, var(--light-red), transparent 90%);
}

module.memory{
    color: var(--orangey-yellow);
    background-color: color-mix(in srgb, var(--orangey-yellow), transparent 90%);
}

module.verbal{
    color: var(--green-teal);
    background-color: color-mix(in srgb, var(--green-teal), transparent 90%);
}

module.visual{
    color: var(--cobalt-blue);
    background-color: color-mix(in srgb, var(--cobalt-blue), transparent 90%);
}

.card-button{
    background-color: var(--dark-gray-blue);
    font-weight: 700;
    color: var(--white);
    font-size: 15px;
    border: 0;
    padding: 20px;
    border-radius: 25px;
    margin: 15px;
}

button:hover{
    --mid-point: color-mix(in oklab, var(--light-slate-blue), var(--light-royal-blue));
    background: linear-gradient(
    to bottom, 
    var(--light-slate-blue), 
    var(--mid-point),
    var(--light-royal-blue)
  );
    cursor: pointer;
}

@media screen and (max-width: 740px) {
    html, body {
      flex-direction: column;
      height: auto;
      background-color: var(--white);
    }

    card{

    }

    card.container-left{
        width: 100dvw;
        transform: translateY(-12px);
        height: auto;
    }
    
    card.container-right{
        box-shadow: none;
        width: 100dvw;
        transform: translateY(-25px);
        padding: 35px 15px 15px;
    }
  }